header {
 font-family: 'Kanit', sans-serif;
}
nav .navbar-toggler{
 margin-left: 5%;
}
nav .navbar-brand{
 margin-left: 5%;
}
nav .nav-item {
 padding-left: 20px;
}
nav .nav-pills {
 padding-right: 10%;
}
article {
 font-family: 'Kanit', sans-serif;
 margin: 5%;
}
footer {
 font-family: 'Kanit', sans-serif;
}