header {
    font-family: 'Kanit', sans-serif;
  }
  nav .navbar-toggler{
    margin-left: 5%;
  }
  nav .navbar-brand{
    margin-left: 5%;
  }
  nav .nav-item {
    padding-left: 20px;
  }
  nav .nav-pills {
    padding-right: 10%;
  }
  article {
    font-family: 'Kanit', sans-serif;
    margin-top: 5%;
  }
  article .Add_btn {
    margin-left: 60%;
  }
  article .table {
    width: 40%;
    margin: auto;
    padding: 2em;
    text-align: center;
  }
  footer {
    font-family: 'Kanit', sans-serif;
    margin-top: 30%;
  }
  
  