@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
  font-family: 'Kanit', sans-serif;
  background-color: #ededed;
}
.bg-blue {
  background-color: #1A2B6D;
}
.form-check-inline {
  display: inline-block;
  margin-right: 0.2rem;
}